html
{
background-color: #f5f5dc;
}
header img {
    padding-left: 600px;
    padding-right: 500px;
    width: 250px;   
}

footer {
    margin-left: 450px;
    text-align: center;
    background-color: black;
    color: #f5f5dc;
    width: 500px;
}
.Menu li
{
    padding-left: 160px;
    margin-left: 100px;   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: blueviolet;
}
.Caixa
{
    border-radius: 90px;
    margin-left: 450px;
    text-align: center;
    background-color: black;
    color: #f5f5dc;
    width: 500px;
    height: 150px;

}
.Caixa h2
{
    padding-top: 40px;
    text-align: center;
    margin-top: 40px;
}